.container1 {
    background-color: aquamarine;
}

.boxes {
    border: 0.5rem solid rgb(194, 154, 186);
    padding: 1rem;
    margin: 0.5rem;
    background-color: pink;
    display: block;
}

.btn {
    background-color: rgb(167, 82, 160);
    border: 0.2rem solid rgb(11, 11, 11);
}

.container2 {
    border: 0.5rem solid rgb(0, 0, 0);
}