/* Hangman */
/* img{
    height: 240px;
    width: 240px;
    position: absolute;
    left: -120px;
    bottom: 110px;
    display: inline-block;
} */

/* div{
        height: 240px;
            width: 240px;
            background-color: rgb(93, 201, 6);
            border-radius: 50%;
            position: absolute;
            left: -120px;
            bottom: 110px;

} */










