/* 



.contained{
    width: 200%;
    height: 200%;
    background-color: black;
    margin: 10px;
    border: 5px solid black;
}






firstMain{
    font-size: 1em;
}


secondMain{
    font-size: 1em;
} */



* {
    margin: 0%;
    padding: 0%;
}

.container{
    background-color: blanchedalmond;
    height: 100em;
}

.block1{
    position: relative;
    left: 10em;
    background-color: aquamarine;
    width: 10em;
    height: 10em;
}

.block2 {
    position: fixed;
    background-color: rgb(244, 255, 127);
    width: 10em;
    height: 10em;
    left: 10em;
}

.block3.block2 {
    position: absolute;
    background-color: rgb(87, 74, 87);
    width: 10em;
    height: 10em;
    top: 10em;
}

/* .container {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    padding: 10%;
    margin: 10%;
    font-size: 0.5em;
} */













